<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>ETH Transfers</title>

    <script src="{{ url_for ('static', filename='./js/index.js')}}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-5">ETH Transfers</h1>
        </div>
    </div>
    <div class="row">
        <div class="container col-12 d-flex justify-content-around mt-5">
            <div class="container col-4">
                <select aria-label="Default select example" class="form-select" id="sender_address">
                    <option disabled selected value="">Please select address</option>
                    {% for address in accounts_pair %}
                    <option value="{{ address.account + '_' + address.private_key }}">{{ address.account }}</option>
                    {% endfor %}
                </select>
                <p class="text-end">Sender Address</p>
            </div>
            <div class="container col-4">
                <select aria-label="Default select example" class="form-select" id="reciever_address">
                    <option disabled selected value="">Please select address</option>
                    {% for address in accounts_pair %}
                    <option value="{{ address.account }}">{{ address.account }}</option>
                    {% endfor %}
                </select>
                <p class="text-end">Receiver Address</p>
            </div>
            <div class="container col-4">
                <input class="form-control" id="amount" type="text">
                <p class="text-end">Amount [ ETH ]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-12 d-flex justify-content-center mt-1">
            <button class="btn btn-primary" id="transaction" onclick="posting_data()" type="button">Send</button>
        </div>
        <div class="container my-4">
            <div class="container d-flex justify-content-between">
                <div class="container col-4">
                    <h2 class="text-start">Transaction Details</h2>
                </div>
                <div class="container col-8">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Check Balance Wallet" class="form-control"
                               placeholder="Check Balance Wallet" type="text" id="Balance_address">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" onclick="check_balance()">Check</button>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Tnx Hash</th>
                    <th>Block</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Value</th>
                    <th>Gas</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.timeStamp }}</td>
                    <td>{{ transaction.hash[:20] }}</td>
                    <td>{{ transaction.blockNumber }}</td>
                    <td>{{ transaction.from[:5] }}</td>
                    <td>{{ transaction.to[:5] }}</td>
                    <td>{{ transaction.value }} ETH</td>
                    <td>{{ transaction.gas / 1000000000000000000 }} x 10<sub style="vertical-align:super;">18</sub> gwei
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

